
.header{
    background-color: blue;
    color: white;
    text-align: center;
    height: 100px;
}


@media screen and (max-width:1439px){

    .header{
        background-color: darkorange;
        color: white;
        text-align: center;
    }

}