form{
    width: 500px;
    height:500px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 3px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
h1{
    text-align: center;
}
input{
    width: 300px;
    padding: 10px;
    margin: 15px 0px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 2px solid lightgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.input{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}
.dropDown{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    padding: 10px;
    margin: 15px 0px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 2px solid lightgray;
}
select{
    border: none;
    background: transparent;
    width: 200px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

select::after{
    border: none;
}

button{
    cursor: pointer;
    margin-top: 10px;
    width: 320px;
    padding: 10px;
    background-color: green;
    border: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
