body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    line-height: 1.6;
}
.container{
    border: 2px solid black;
    padding: 20px;
    position: relative;
}

.box{
    background-color: blue;
    color: white;
    padding: 20px;
    height: 100px;
    width: 100px;
}

.absolute{
    position: absolute;
    bottom:0px;
    right: 0px;
}