.container{
    background-color: #f0f0f0;
    height: 100vh;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
}

.box{
    height: 150px;
    width: 150px;
    background-color: red;
    margin: 10px;
    color: white;
    text-align: center;
    padding: 20px;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.box1{
   background-color: green;
   align-self: flex-end;
   flex-grow: 1;
}

.box2{
    background-color: purple;
    align-self: flex-start;
    flex-grow: 3;
 }

 .box3{
    background-color: yellow;
    align-self: flex-start;
    flex: 2;
 }

 .box4{
    background-color: blue;
    align-self: flex-end;
    flex-grow: 6;
 }