p{
    margin-top: 20px;
    font-size: 20px;
}

.button{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cancel{
    padding: 10px 20px;
    background: transparent;
    cursor: pointer;
    color: blue;
    border: 1px solid blue;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.approve{
    padding: 10px 20px;
    background: blue;
    cursor: pointer;
    color: white;
    border: 1px solid blue;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}